langchain
langchain-groq
faiss-cpu
tiktoken
langchain-community
langchain-openai
sentence-transformers
pypdf
python-dotenv
ipykernel
pandas
langchain-core
langchain-text-splitters
pymupdf
docx2txt
unstructured
docx
python-docx
openpyxl
msoffcrypto-tool
jq
matplotlib
langchain-huggingface
chromadb
langchain-core
langchain-astradb
langchain-pinecone
rank_bm25
wikipedia
lxml
langchain_google_genai
arxiv
langchain-tavily
langgraph_supervisor
numba>=0.59.0
llvmlite>=0.42.0